body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(58, 4, 4); 


    /*background-image: url("./assets/images/curtain.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

.container {
    background-color: transparent;
    padding-left: 10%;
    padding-right: 10%;
}


header h1 {
    font-family: 'Rammetto One', cursive;
    text-align: center;
    font-size: 5rem;
    line-height: 4rem;
    color:antiquewhite;
    margin-top: 4%;
    margin-bottom: 2%;
}

header p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    color:antiquewhite;
    margin-top: 1%;
    margin-bottom: 4%;
}


.menu {
    margin-bottom: 2%;
    font-size: 1rem;
    color:antiquewhite;
}


.responsive-embed {
    margin-bottom: 5%;
}


/*Below is CSS styling for the select menu from https://www.w3schools.com/howto/howto_custom_select.asp */
/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
    margin-bottom: 2rem;
    height: 1%;
    background: rgb(31, 32, 32);
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: rgb(31, 32, 32);
    color:antiquewhite;
  }
  
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: rgb(27, 26, 26);
    color:antiquewhite;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }